@model IEnumerable<TMSS.Domain.Entities.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>User Details</h4>

<p>
    <a asp-action="Create">Create New</a>
</p>
<style type="text/css">
    form {
        float: right;
    }

</style>
<form action="/ManageUser/Index" method="get">

    <div class="input-group md-form form-sm form-2 p1-0">
        <input name="searchstring" type="text" style="width:400px;" placeholder="Search" class="form-control" />
        <div class="input-group-btn">
            <button class="btn btn-primary" type="submit" onclick="fnUserDetails()">
                <i class="fas fa-search" aria-hidden="true"></i>
                @*                 <i class="fas fa-search text-grey" aria-hidden="true"></i>
                *@
            </button>
        </div>
    </div>
</form>
@* <form action="/ManageUser/Index" method="get">

    <div class="input-group md-form form-sm form-2 p1-0">
        <input name="searchstring" style="width:400px;" type="text" placeholder="Search" class="form-control" />
        <div class="input-group-btn">
            <button class="btn btn-primary" type="submit" onclick="fnUserDetails()">
                <i class="fas fa-search text-grey" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</form> *@
<br />
<br />
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Table In HTML</title>

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>

</head>
<body>
    <div class="container">

        <table style="width:100%">
            <thead>
                <tr>
                    <th>
                        User Name
                    </th>
                    <th>
                        Password
                    </th>
                    <th>
                        Email ID
                    </th>
                    <th>

                    </th>
                    @*  <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                    </th>
                    <th>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                    </th>
                    <th>
                    @Html.DisplayNameFor(model => model.ModifiedDate)
                    </th>
                    <th>
                    @Html.DisplayNameFor(model => model.ModifiedBy)
                    </th>
                    <th></th> *@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmailID)
                        </td>
                        @* <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.ModifiedBy)
                    </td> *@
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @section scripts{
            <script>
                function fnUserDetails() {
                    alert(hi)

                    $("Form").submit();

                }
            </script>
        }
    </div>
</body>
</html>
